<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <script>
        window.history.pushState(null, null, window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, null, window.location.href);
        };
    </script>
</head>
<body>
    {% for i in user %}
    <h5>welcome user : {{i.username}}</h5>
    {% endfor %}
    <a href="{% url 'logout' %}">LogOut</a>
</body>
</html>